.ipynb_checkpoints/
frames/
.gif
.png                                                                                                                                                                                                         
frames/*.png