.ipynb_checkpoints/
frames/
.gif
.png                                                                                                                                                                                                         
frames/*.png
*.swp
__pycache__/
outputs/*
.ssh
.pkl
DEBUG/*.pkl
logs/*
methods/*
*.npz
*.sh
*.out
